body {
  background: black;
  font-family:  "Montserrat", sans-serif;
  color: #f2f2f2;
  font-size: clamp(1.25rem, 2vw, 1.8rem);
  line-height: 1.6;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-inline: 2rem;
  min-height: 100dvh;
}

main {
  flex: 1;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}

article, footer {
  padding-block: 20px;
}

h1 {
  font-size: clamp(2rem, 2.5vw, 3rem);
  font-weight: bold;
  padding-block: 1rem;
}

.strike {
  text-decoration: line-through;
  font-style: italic;
}

a {
  text-decoration: underline;
  font-weight: 500;
  color: white;
}

a:hover {
  background: #d8b702;
  color: black;
}

a.github {
  color: #ffc8ff;
}

a.github:hover {
  background: #ffc8ff;
  color: black;
}

a.wakeup {
  color: #ffd2d2;
}

a.wakeup:hover {
  background: #ffd2d2;
  color: black;
}

a.discord, a.bluesky {
  color: #ebebff;
}

a.discord:hover, a.bluesky:hover {
  background: #ebebff;
  color: black;
}
