body {
  background:
    radial-gradient(
      /* ellipse at top center, */
      ellipse 90% 50% at 50% 0%,
      #fa8fbd40 0%,
      #fa8fbd20 25%,
      #00000000 95%
    ),
    /* ellipse at bottom center, */
    radial-gradient(
      ellipse 100%  20% at 50% 100%,
      #8ae6fa30 0%,
      #8ae6fa10 30%,
      #00000000 95%
    )
    black;
  font-family:  "Montserrat", sans-serif;
  color: #f2f2f2;
  font-size: clamp(1rem, 1.8vw, 1.5rem);
  line-height: 1.6;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-inline: 2rem;
  min-height: 100dvh;
}

main, footer {
  width: min(800px, calc(100vw - 80px));
  padding: 100px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;     /* vertical center */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
}

.fade-in.delayed {
  animation-delay: .8s;
}

article {
  width: 100%;
  padding-block: 40px 0;
}

h1 {
  font-size: clamp(2rem, 2.5vw, 3rem);
  font-weight: bold;
  padding-block: 1rem;
}

.strike {
  text-decoration: line-through;
  font-style: italic;
}

a {
  text-decoration: underline;
  font-weight: 600;
  color: white;
  transition: all ease-in .2s;
  display: inline-block;
  padding: 0 4px;
  border-radius: 4px;
}

a:hover {
  background: #d8b702;
  color: black;
  text-decoration: none;
}

a.twitch_stream {
  display: inline-block;
  margin-top: 20px;
}

a.twitch_stream img {
  border-radius: min(3vw, 1.5em);
  border: 4px solid transparent;
  transition: all ease-in .2s;
}

a.twitch_stream:hover {
  background: none;
}

a.twitch_stream:hover img {
  border-color: #cdacff;
}

a.github {
  color: #ffc8ff;
}

a.github:hover {
  background: #ffc8ff;
  color: black;
}

a.wakeup {
  color: #ffd2d2;
}

a.wakeup:hover {
  background: #ffd2d2;
  color: black;
}

a.discord, a.bluesky {
  color: #ebebff;
}

a.discord:hover, a.bluesky:hover {
  background: #ebebff;
  color: black;
}

a.twitch {
  color: #cdacff;
}

a.twitch:hover {
  background: #a970ff;
  color: white;
}
a.youtube {
  color: #ffa4ad;
}

a.youtube:hover {
  background: #ff273b;
  color: white;
}

.game-card {
  overflow: hidden;
  /* width: min(90vw, 900px); */
  border-radius: min(3vw, 1.5em);
  border: .2em solid white;
}

article img {
  width: 100%;
}

.game-card a {
  padding: 0;
  display: inline;
}

.game-card img {
  filter: brightness(0.8);
  filter: grayscale(100%) brightness(0.8) sepia(100%) hue-rotate(213deg) saturate(300%);
  display: block;
  transition:
    transform 0.1s ease,
    filter 0.2s ease;
}

.game-card:hover img, .game-card:active img {
  transform: scale(1.1);
  transition:
    transform 0.3s ease,
    filter 1.0s ease;
  filter: none;
}

@media (max-width: 600px) {
  body {
    background:
      radial-gradient(
	/* ellipse at top center, */
	ellipse 90% 50% at 50% 0%,
	#fa8fbd40 0%,
	#fa8fbd20 30%,
	#00000000 95%
      ),
      /* ellipse at bottom center, */
      radial-gradient(
	ellipse 100% 50% at 50% 100%,
	#8ae6fa30 0%,
	#8ae6fa10 30%,
	#00000000 95%
      )
      black;
  }
}
