body {
  max-width: 800px;
  margin: 20px auto;

  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #333;
}

h1 {
  font-size: 32px;
  border-bottom: 1px solid;
}

code {
  padding: 3px;
  background: #eee;
  color: #d14;
}
